.content-dashboard {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .content-dashboard {
    flex-direction: column;
  }
}

